<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brentandjody.stenokeyboard"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />

    <application android:allowBackup="true"
        android:name="com.brentandjody.stenokeyboard.SKApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- Declares the input method service -->
        <service android:name="StenoKeyboard"
            android:label="@string/steno_keyboard_label"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <!-- user settings. -->
        <activity android:name=".SettingsActivity" android:label="@string/steno_keyboard_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
